<h3>							
     Template
   </h3>
   <ul class="linkedList">
     <li class="first">
	<a href="/editadmin/homedash">Dashboard</a>
     </li>
     <li>
	<a href="/editadmin/edit">My Account</a>
     </li>
      <li>
	<a href="/allusers/edit">Change password</a>
     </li>
		 <li>
	<a href="/staff/createstaff">Insert Staff</a>
     </li>
     <li class="last">
        <a href="/ticket/new">Submit Ticket</a>
     </li>
   </ul>
