
<div id="main">
 <div id="sidebar">
 <%=render :partial => "/staffdashboard/sspartial" %>
 </div>

 

 <div id="content">
<div id="box1">
  
  <table border=1>
  <tr>
  <td>
  <th>Total no: of Open tickets<br><%=@open%></th>
  <th>Total no: of Pending tickets<br><%=@pending%></th>
  </td>
  </tr>
  <tr>
  <td>
  <th>Total no: of completed tickets<br><%=@completed%></th>
  </td>
  </tr>
  </table>
 </div>
	</div>
	</div>

 